<div class="table-responsive">
   <table class="table table-dark table-striped table-hover table-bordered border-secondary align-middle" id="table">
      
      <thead>
         <tr class="text-center text-primary align-middle">
            <th class="fit" scope="col">#</th>
            <th class="fit" scope="col">Запит</th>
            <th class="fit" scope="col"> <span class="m-2">Тип запиту</span> </th>
            <th class="" scope="col">Опис</th>
         </tr>
      </thead>

      <tbody>

         <!-- /get_traints -->
         <tr>
            <td class="text-center"> <span class="m-2">1</span> </td>
            <td> <span class="m-4">/get_traints</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає список усіх потягів із бази даних</td>
         </tr>

         <!-- /get_passengers -->
         <tr>
            <td class="text-center"> <span class="m-2">2</span> </td>
            <td> <span class="m-4">/get_passengers</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає список усіх пасажирів із бази даних</td>
         </tr>

         <!-- /get_tickets -->
         <tr>
            <td class="text-center"> <span class="m-2">3</span> </td>
            <td> <span class="m-4">/get_tickets</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає список усіх квитків із бази даних</td>
         </tr>

         <!-- /get_cured_tickets -->
         <tr>
            <td class="text-center"> <span class="m-2">4</span> </td>
            <td> <span class="m-4">/get_cured_tickets</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає список усіх проданих квитків із бази даних</td>
         </tr>

         <!-- /set_traints -->
         <tr>
            <td class="text-center"> <span class="m-2">5</span> </td>
            <td> <span class="m-4">/set_traints</span> </td>
            <td class="text-center"> <span>PUT</span> </td>
            <td class="ps-4">Оновлює список усіх потягів в базі даних</td>
         </tr>

         <!-- /set_passengers -->
         <tr>
            <td class="text-center"> <span class="m-2">6</span> </td>
            <td> <span class="m-4">/set_passengers</span> </td>
            <td class="text-center"> <span>PUT</span> </td>
            <td class="ps-4">Оновлює список усіх пасажирів в базі даних</td>
         </tr>

         <!-- /set_tickets -->
         <tr>
            <td class="text-center"> <span class="m-2">7</span> </td>
            <td> <span class="m-4">/set_tickets</span> </td>
            <td class="text-center"> <span>PUT</span> </td>
            <td class="ps-4">Оновлює список усіх квитків в базі даних</td>
         </tr>

         <!-- /set_cured_tickets -->
         <tr>
            <td class="text-center"> <span class="m-2">8</span> </td>
            <td> <span class="m-4">/set_cured_tickets</span> </td>
            <td class="text-center"> <span>PUT</span> </td>
            <td class="ps-4">Оновлює список усіх проданих квитків в базі даних</td>
         </tr>

         <!-- /get_last_traint_id -->
         <tr>
            <td class="text-center"> <span class="m-2">9</span> </td>
            <td> <span class="m-4">/get_last_traint_id</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає останнє значення id для потягів</td>
         </tr>

         <!-- /get_last_passenger_id -->
         <tr>
            <td class="text-center"> <span class="m-2">10</span> </td>
            <td> <span class="m-4">/get_last_passenger_id</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає останнє значення id для пасажирів</td>
         </tr>

         <!-- /get_last_ticket_id -->
         <tr>
            <td class="text-center"> <span class="m-2">11</span> </td>
            <td> <span class="m-4">/get_last_ticket_id</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає останнє значення id для квитків</td>
         </tr>

         <!-- /set_identificators -->
         <tr>
            <td class="text-center"> <span class="m-2">12</span> </td>
            <td> <span class="m-4">/set_identificators</span> </td>
            <td class="text-center"> <span>PUT</span> </td>
            <td class="ps-4">Оновлює список усіх останніх id в базі даних</td>
         </tr>

      </tbody>
   </table>
</div>